# Python & Virtual Environments
__pycache__/
*.py[cod]
*.class
.venv/
venv/
ENV/
env/

# Testing & Cache
.pytest_cache/
.coverage
htmlcov/

# Streamlit Local Cache
.streamlit/secrets.toml

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS & Temp files
.DS_Store
Thumbs.db
*.tmp
*.log
scratch/
